#prenom::placeholder {
  color: #0059a3;
}

h1 {
  font-weight: 700 !important;
}

h2 {
  font-weight: 600 !important;
}

body {
  margin: 0;
  padding-top: 3em;
  font-family: "Lato", sans-serif;
  color: #000;
}

.btn {
  font-weight: 600 !important;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

textarea {
  background-color: transparent !important;
  color: white !important;
  margin: 0.5rem !important;
}

textarea::placeholder {
  color: red!important;
}